-- =============================================
-- Blogs / Media Content Table for Rivers MFB
-- Run this SQL in the Supabase SQL Editor
-- =============================================

-- Create the blogs table
CREATE TABLE IF NOT EXISTS public.blogs (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    title TEXT NOT NULL,
    excerpt TEXT NOT NULL,
    content TEXT NOT NULL,
    category TEXT NOT NULL,
    image_url TEXT NOT NULL,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable Row Level Security
ALTER TABLE public.blogs ENABLE ROW LEVEL SECURITY;

-- Policy: Anyone can view blogs (publicly accessible on Media page)
CREATE POLICY "Anyone can view blogs" 
    ON public.blogs 
    FOR SELECT 
    TO anon, authenticated 
    USING (true);

-- Policy: Only authenticated users (admins) can create/update/delete blogs
CREATE POLICY "Admins can manage blogs" 
    ON public.blogs 
    FOR ALL 
    TO authenticated 
    USING (true) 
    WITH CHECK (true);

-- Create index for faster queries by creation date
CREATE INDEX IF NOT EXISTS idx_blogs_created_at ON public.blogs(created_at DESC);

-- Auto-update the updated_at column
CREATE OR REPLACE FUNCTION update_blogs_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_update_blogs_timestamp
    BEFORE UPDATE ON public.blogs
    FOR EACH ROW
    EXECUTE FUNCTION update_blogs_updated_at();
